#JWT settings
SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=

# External API settings
EXTERNAL_API_TOKEN=
EXTERNAL_API_URL=

# Posgres settings
POSTGRES_PASSWORD=
POSTGRES_USER=
POSTGRES_DB=
POSTGRES_HOSTNAME=

# Redis settings
REDIS_USER=
REDIS_PASSWORD=
REDIS_HOSTNAME=
REDIS_DB_BROKER=
REDIS_DB_RESULT=

# Files settings
FILES_STORAGE_DIR=